# Build directories
helper/build/*
launcher/build/*

# Keep existing binaries
!helper/build/plasma_helper
!launcher/build/launcher
!launcher/build/liborg.apps.launcher.so

# Qt / KDE / CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.user
*.autosave

# Plasma cache
*.qmlc
*.jsc
*.cache

# Logs
*.log

# Backup files
*~
*.bak
